body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

#head {
    width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

#head > div {
    margin-top: 20px;
}

#head div {
    margin-bottom: 15px;
}

#head p {
    margin: 5px 0;
}

#head input[type="text"],
#head input[type="email"],
#head input[type="password"],
#head input[type="date"],
#head input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#head select {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#head input[type="radio"] {
    margin-right: 5px;
}

#head hr {
    margin: 20px 0;
}

#head h4 {
    margin-bottom: 10px;
}

#head input[type="checkbox"] {
    margin-right: 5px;
}

#head input[type="button"] {
    padding: 10px;
    cursor: pointer;
    background-color: #87CEEB;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 100%;
}

#head input[type="button"]:hover {
    background-color: #5F9EA0;
}